@model TeamListViewModel

<form asp-action="Change" method="post">
    <input asp-for="@Model.UserName" placeholder="Type name here" class="mb-3" /><br />
    <a asp-area="" asp-controller="Home" asp-action="Index" class="page-link">Back to home</a>
    <button type="submit" class="btn btn-primary">
        Change Name
    </button>
</form>